<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
<servlet>
<servlet-name>RegisterServlet</servlet-name>
<servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>CustomerServlet</servlet-name>
<servlet-class>CustomerServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>TransactionServlet</servlet-name>
<servlet-class>TransactionServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>TransactionHistoryServlet</servlet-name>
<servlet-class>TransactionHistoryServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>WithdrawServlet</servlet-name>
<servlet-class>WithdrawServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>DepositServlet</servlet-name>
<servlet-class>DepositServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegisterServlet</servlet-name>
<url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>CustomerServlet</servlet-name>
<url-pattern>/CustomerServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>TransactionServlet</servlet-name>
<url-pattern>/TransactionServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>TransactionHistoryServlet</servlet-name>
<url-pattern>/TransactionHistoryServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>WithdrawServlet</servlet-name>
<url-pattern>/WithdrawServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DepositServlet</servlet-name>
<url-pattern>/DepositServlet</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>newbank.html</welcome-file>
</welcome-file-list>
</web-app>